* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-view {
    width: 350px;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.coin-board{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}